.navbar{
    padding: 8px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: max(10%,80px);
    cursor: pointer;
}
.navbar .profile {
    width: 40px;
    cursor: pointer;
    border: 5px solid black; 
    border-radius: 80%;
}

