/* Navbar.css */
.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.navbar .logo {
    width: 150px;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49577e;
    cursor: pointer;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49577e;
    border: 1px solid #49577e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.search1 {
    width: 30px;
}

.navbar button:hover {
    background-color: #ff343498;
    color: white;
}

.account-section {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
}

.dropdown p {
    padding: 10px;
    cursor: pointer;
    color: #333;
}

.dropdown p:hover {
    background-color: #f4f4f4;
}
